# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- PYTHON / FLASK ---
venv/
__pycache__/
*.pyc
instance/
.pytest_cache/
*.log

database.db
#--- FRONTEND / REACT ---
frontend/node_modules/
frontend/dist/
frontend/.env.local

# --- SISTEMA ---
.DS_Store